*{
    box-sizing: border-box;
    margin: 0;
    padding:0;

}
.slider{
  flex-grow: 1;
}

.slidercontainer {
    
    width: 100%;
    max-width: 700px; 
    aspect-ratio: 5 / 6;
    position: relative;
    width: 400px;
    height: 452px;
    margin: 10px auto;
}


.slidercontainer img{
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
    height: 100%;
    width: 100%;
    width: 400px;
    height: 452px;
    margin-left: 10px;
    object-fit: cover;
}
.slidercontainer img.active {
    opacity: 1;
}

.slidercontainer .slidenumber {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    z-index: 2;
    border-radius: 6px;
}
.slidercontrol{
    width: 100%;
    max-width: 700px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.slidercontrol .prev, .slidercontrol .next {
    background-color: rgb(136, 94, 176) ;
    color: #fff;
    font-size: 15px;
    width: 70px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
    user-select: none;
    
}
.slidercontrol .prev.disabled, .slidercontrol .next.disabled{
    background-color: rgb(98, 83, 113);
    cursor: no-drop;
}

.slidercontrol .indicators {
  
    text-align: center;
    width: 100%;
    max-width: 600px;
   }
   
   
   .slidercontrol .indicators ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px ;
    padding: 0;

   }
   
   
   .slidercontrol .indicators ul li {
    
    display: inline-block;
    background-color: #f6f6f6;
    color: #333;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    line-height: 50px;
    cursor: pointer;
    font-size: 12px;
   }
   
   
   .slidercontrol .indicators ul li.active {
    background-color: rgb(189, 162, 215);
    color: #FFF;
   }

   .left-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* centers the big image and slidercontrol horizontally */
  }
  
   @media (max-width: 770px) {
    .slidercontainer {
      width: 300px;
    }
    .slidercontainer img{
     
      width: 300px;
      height: 452px;
      margin-right: 60px;
      
  }
  
    .slidercontrol .prev,
    .slidercontrol .next {
      width: 60px;
      font-size: 13px;
    }
    .slidercontrol .next {
      margin-left: 30px;
    }

   
    .slidercontrol .indicators ul {
      list-style: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 25px ;
      padding: 0;
  
     }

  
    .slidercontrol .indicators ul li {
      height: 40px;
      width: 40px;
      font-size: 11px;
      line-height: 40px;
      
    }
  }
  
  @media (max-width: 480px) {
    .slidercontainer {
      max-width: 90%;
    }
  
    .slidercontrol .prev,
    .slidercontrol .next {
      width: 55px;
      font-size: 12px;
      text-align: center;
    }
  
    .slidercontrol .indicators ul li {
      height: 30px;
      width: 30px;
      font-size: 10px;
      line-height: 35px;
      
    }
  }
  