*{
    padding: 0;
    margin: 0;
}

.category-filter{
    margin-top: 40px;
}
.filter-btns{
text-align: center;
}
.filter-btn{
    background: linear-gradient(120deg, #461da5 0%, #851264 100%);
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 0.7rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(161, 140, 209, 0.12);
    margin-top: 0.5rem;
}

.filter-btn:hover{
    background: linear-gradient(360deg, #461da5 0%, #851264 100%);
}

.sort-container {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
